<h1>Tabulation System Admin Dashboard</h1>

<h3>Management</h3>

<ul>

<li>
<a href="{% url 'systemadmin:add_participant' %}">
Add Participant
</a>
</li>

<li>
<a href="{% url 'systemadmin:participant_list' %}">
View Participants
</a>
</li>

<li>
<a href="{% url 'systemadmin:add_criteria' %}">
Add Criteria
</a>
</li>

<li>
<a href="{% url 'systemadmin:criteria_list' %}">
View Criteria
</a>
</li>

<li>
<a href="{% url 'systemadmin:tabulation_results' %}">
View Tabulation Results
</a>
</li>

</ul>